* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li, a, button {
  text-decoration: none !important;
  list-style: none !important;
}

a:hover {
  text-decoration: none !important;
}

.backButton {
  color: #4C4C4C !important;
}

.circularBtn {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.circularBtn:hover {
  background-color: #38353510;
}