.byIngredient h2 {
  color: #117BB5;
}

.byIngredient .input-group {
  width: 90%;
  /* margin: 0 auto; */
  margin-top: 15px;
}

.byIngredient .input-group-text {
  border-radius: 10px;
}

.byIngredient .form-control, .byIngredient .input-group-prepend {
  height: calc(2em + 0.75em + 2px);
  box-shadow: 0 8px 12px 0 rgba(63, 48, 48, 0.2);
  border-radius: 10px;
}


/** BUTTONS */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: rgba(255, 155, 54, 0.90);
  border-color: rgba(255, 155, 54, 0.90);
  color: white;
}