.signup {
  display: flex;
  height: 100vh;
}

.signup__left {
  flex: 1;
}
.signup__right {
  flex: 1;
  display: flex;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.25);
}

.signup__backImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.signup__logo {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}